<section class="booklist">
  <ul class="grid">
    <%= for book <- @books do %>
      <li class="griditem">
        <div class="book booksmall">
          <%= link to: book_path(@conn, :show, book.id) do %>
            <img class="book__image" src="<%= book.image_url %>">
            <h2 class="book__title"><%= book.title %></h2>
          <% end %>
          <span class="book__price"><%= book.price %></span>
        </div>
      </li>
    <% end %>
  </ul>
</section>